<div class="bodystyle" >

  <div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>


  <div class="container" style="background-color: lightgray; padding: 20px 15px;" >
    <app-filter></app-filter>
  </div>

  <div class="container " style="background-color: lightgray;">
    
      <div class="row"  id="demo2" style="background-color: lightgray;">

        <div class="col-sm-12 col-md-4 col-lg-4 division" *ngFor="let item of requiredProducts">
        <div class="cards">
            <div class="imagediv"> <img [src]="item.image"  class="image" alt="{{ item.name}}">
              <div class="top-right" *ngIf="item.extrainfo">offer</div>
            </div>
            <div> 
              <h6>{{ item.name}}</h6>
              <span style="background-color: #32cd32; border-radius: 10px 10px 10px 10px; padding: 3px; color: white;">special price</span> <br>
              <div > <span>{{ item.estimatedprice }}</span> <span  style="margin-left: 10px; color: blue; font-size: small;"><s>{{ item.price }}</s></span></div>
              <span style="color:#32cd32; font-size: 14px;">Buy combo, save extra 20%</span>
              <button class="btn btn-primary placeorderbtn" (click)="onbuymethod(item.id,item.type)"  style="border-color: none!important;">View product</button>
             </div>
           </div>
        </div>
      </div>
    </div></div>

  