
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="side-nav d-none d-md-block" (scroll)="onScroll($event)">
                    <ul class="side-nav__menu">
                        <li class="side-nav__head"><a class="" >Products</a></li>
                    <li class="side-nav__menu-items" [routerLinkActive]="['active']"
                    *ngFor="let member of members"
                    ><a class="side-nav__menu-content" 
                    (click)="onNavClick(member)">{{member}}</a>
                    </li>
                    <li class="side-nav__head"><a class="" >Add item</a></li>
                    <li class="side-nav__head"><a class="" >orders</a></li>
                </ul>
                    </div>
            </div>
            <div class="col-md-9">
               <app-display-list></app-display-list>
            </div>
        </div>
    </div>