

.adminpage
{
    margin-top: 140px;
}

.top-left-row
{
    border: 2px solid lightseagreen;
    padding: 30px 50px;
    display: block;
    color: whitesmoke;
    cursor: pointer;
    background-image: linear-gradient(to right, orange, rgba(255,0,0,1));
}


.top-right-row
{
    margin-right: 30px;
    border: 2px solid lightseagreen;
    padding: 30px 50px;
    display: block;
    color: whitesmoke;
    cursor: pointer;
    background-image: linear-gradient(to right, blue, pink);
}


.admin-block
{
    background-color: #7f8c8d ;
}


.botton-left-row
{
    margin-right: 30px;
    border: 2px solid lightseagreen;
    padding: 30px 50px;
    display: block;
    color: whitesmoke;
    cursor: pointer;
    background-image: linear-gradient(to right, green, grey);
}


.list-style
{
    text-decoration: none;
    padding: 5px 15px;
    cursor: pointer;
}