<div style="width: 100%;">
    <img src="../assets/images/print.jpg" style="width: 100%;">
</div>



<div class="container-fluid footerdiv ">
 
  
    <div class="row" style="margin-top: 30px;">
  
          <div class="col-md-3">
              <span>MENS</span>
              <ul class="list-group" style="margin-top:15px">
                  <li class="list-group-item list">Tracks</li>
                  <li class="list-group-item list">t-shirt - Full sleeve</li>
                  <li class="list-group-item list">t-shirt - Half sleeve</li>
                  <li class="list-group-item list">t-shirt collar / Permudasr</li>
                  <li class="list-group-item list">t-shirt Round/V Neck</li>
              </ul>
          </div>
  
          <div class="col-md-3">
             <span>WOMENS</span>
            <ul class="list-group" style="margin-top:15px">
                <li class="list-group-item list">Ankle length leggings</li>
                <li class="list-group-item list">Full length leggings</li>
                <li class="list-group-item list">Tops/Tees</li>
                <li class="list-group-item list">Pijama</li>
                <li class="list-group-item list">Capri and Long polo</li>
            </ul>
        </div>
  
       
      <div class="col-md-3">
          <span>KIDS</span>
          <ul class="list-group" style="margin-top:15px">
              <li class="list-group-item list">Infant baby  girl dress</li>
              <li class="list-group-item list">Infant baby boy dress</li>
              <li class="list-group-item list">Girls night suit</li>
              <li class="list-group-item list">Tracks / Tops / Tshirts</li>
              <li class="list-group-item list">Tracks and Capri</li>
          </ul>
      </div>
  
      <div class="col-md-3">
       
         <h4>For orders contact </h4>
              <ul class="list-group" >
                  
                  <li class="list-group-item list" style="  background-color: black; color: #00BFFF; display: flex; "><i class="material-icons" >email</i><p  style="display:inline-block; margin-left: 10px;">nsrgarments@hotmail.com</p></li>
                  <li class="list-group-item list" style="  background-color: black; color: #00BFFF; display: flex;"><i class="material-icons" >phone</i><p  style="display:inline-block; margin-left: 10px;">9787038130</p></li>
                 
              </ul>
  
      </div>
    </div>
  <hr style="background-color: #00BFFF;">
    <div class="row" style="padding: 20px;">
      <div class="colm-xs-12">
          <span>ABOUT US</span> 
        <p style="margin-top:15px">
      Established in 2012 , NSR Garments has made a name for itself in the list of top suppliers of Ladies Legging in India. The supplier company is located in Tirupur, Tamil Nadu and is one of the leading sellers of listed products.
      <br>  NSR Garments is listed in Trade India's list of verified sellers offering supreme quality of Skin Friendly Ladies Cotton Leggings etc. Buy Ladies Legging in bulk from us for the best quality products and service.
         We also provide products  and customization  on tshirt  on order based.We provide products for kids too.  </p>
      </div>
  </div>
  
  </div>
  