.footerdiv 
{
    background-color:black;
    padding: 20px 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 2px;
}
.list
{
    background-color:black;
    padding: 2px 4px;
    color: white;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    color: #00BFFF;
    display:inline-block;
    border-bottom:1px solid #00BFFF;
    padding-bottom:2px;
}
hr{
    color: #00BFFF;
}

.list-group-item-order
{
    border: none;
    background-color: orange;
    list-style-type: none;
}


.desktop-column
{
    margin:50px 120px
}
@media only screen and (max-width: 767px) {
    
.desktop-column
{
    margin:5px 12px
}

.ach-text
{
    width: 240px;
}

}

.ach-text
{
width: 400px;
}