<div class="container" *ngIf="value">
    <div class="row">
       
        <div class="col-xs-12">
            <h4 style="margin-top: 30px;">How to order ?</h4>
            <p>Step 1 : Note and mention the CODE Number </p>
            <p>Step 2 : Mention number of pieces needed</p>
            <p>Step 3 : Send us a mail</p>
            <p>Step 4 : We will intimate you in mail and send you a  invoice</p>
            <p>Step 5 : Once you confirm with our invoice your product will be shipped.</p>
           <h2 style="text-align: center;">(OR)</h2>
           <p>
            Do a direct message to our watsapp by sending screenshot of the product or follow our Instagram/FB page
             to get more details about our products</p>
        </div>
       
    </div>
</div>